.header-bar {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 8vh; 
    background-color: aquamarine;

}

.header-h1 {
    
}

.header-refresh-btn {
    height: 20px;
    width: 100px;
}