<div class="game-container">

    <div class="game-button-container">
        <button class="game-btn" id="game-btn-rock"  (click)="onPlayerVal('rock')">
            Rock
        </button>
        <button class="game-btn" id="game-btn-paper"  (click)="onPlayerVal('paper')">
            Paper
        </button>
        <button class="game-btn" id="game-btn-scissors" (click)="onPlayerVal('scissors')">
            Scissors
        </button>
    </div>

    <div class="game-result-container">
            <p id="game-result-player-choice">
                Player Choice: <br />
                {{ playerVal }}
            </p>
            <p id="game-result-cpu-choice">
                CPU Choice: <br />
                {{ cpuVal }}
            </p>
    </div>

    <div class="game-display-container">
        <app-display [roundResult]="result" (done)="buttonsDisabled($event)" />
    </div>

    <div class="game-history-container">
        <app-history />
    </div>
</div>